{% extends "layout.twig" %}

{% block content %}

<div class="login-signup login-bg">

    <div class="form-container">
        {{widget('logo', 'sitelogo1', {"defaultlogo": asset('images/logo-white.png')})|raw}}
        <div class="form">
            {{widget('content', 'signup-content', {content: '<h2>Forgotten Password?</h2>'})|raw}}
            {{widget('forgottenpassword', 'forgottenpassword', {'passwordResetPage':'reset-password','text':'Submit'})|raw}}
        </div>
    </div>
    <!-- Main Widget Zone -->
    {{zone('main')|raw}}
</div>


{% endblock %}