{% extends "layout.twig" %}
{% block class %}bk-pt-form{% endblock %}

{% block content %}

<div class="login-signup login-bg">

    <div class="form-container">
        {{widget('logo', 'sitelogo1', {"defaultlogo": asset('images/logo-white.png')})|raw}}
        <div class="form">
            {{widget('content', 'signup-content', {content: '<h2>Login to your account</h2>'})|raw}}
            {{widget('userlogin', 'userlogin', {'align': 'right', 'text': 'Log in'})|raw}}
        </div>
    <!-- Main Widget Zone -->
    {{zone('main')|raw}}
    </div>


</div>


{% endblock %}

