{% extends "layout.twig" %}

{% block content %}

<div class="login-signup signup-bg">

    <div class="form-container">
        {{widget('logo', 'sitelogo1', {"defaultlogo": asset('images/logo-white.png')})|raw}}
        <div class="form">
            {{widget('content', 'signup-content', {content: '<h2>Get started today</h2>'})|raw}}
            {{widget('userregistration', 'userregistration', {'align': 'right', 'text': 'Sign up'})|raw}}
        </div>
    </div>
    <!-- Main Widget Zone -->
    {{zone('main')|raw}}
</div>


{% endblock %}

