<footer class="footer">
    <div class="container">
        <div class="copyright">
        {{widget('content', 'footer-content', {content: '<p>© Crimson Startups Ltd 2015</p>'})|raw}}
        </div>
            <ul class="footer-links">
                <li>{{widget('content', 'footer-content1', {content: '<p>Terms and Conditions</p>'})|raw}}</li>
                <li>{{widget('content', 'footer-content2', {content: '<p>Login</p>'})|raw}}</li>
                <li>{{widget('content', 'footer-content3', {content: '<p>Sign Up</p>'})|raw}}</li>
            </ul>
    </div>
</footer>