<!-- THEME SLIDER -->

<div class="swiper-container showcase-swiper">

    <div class="swiper-wrapper">
        <div class="swiper-slide"><img src="{{asset('images/themes/theme-masonry.png')}}"/></div>
        <div class="swiper-slide"><img src="{{asset('images/themes/theme-nordic.png')}}"/></div>
        <div class="swiper-slide"><img src="{{asset('images/themes/theme-unknown.png')}}"/></div>
    </div>

    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>

</div>
